img {
    border-radius: 50%;
}

#first {
    background-color: bisque;
}

#second {
    background-color: aqua;
}

#third {
    background-color: aquamarine;
}

#fourth {
    background-color:beige
}

